/* Colors from COLOR PICKER 
rgba(158,0,0,255) - red
rgba(255,255,255,255) - white
rgba(61,61,61,255) - grey
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255,255,255,255);
}
body{
/*     height: 100vh; */

}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items: center;

    background-color:rgba(158,0,0,255);
    
    height: 29vh;

}
.borde{
    border: solid rgb(255, 255, 255) 1px;
}

nav{
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding: 0 5% 1% 5%;
    text-decoration: none;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: solid  2px transparent;  /* permite que no se genere movimiento */
}

.logoSize{
    width: 27%;
}

.page{
    border-bottom: solid white 2px;
}

nav a:hover{
    border-bottom: solid white 2px;
}

.section-ppal{
    height: 71vh;
    overflow: hidden; /* permite que no se me genere un pequeno scroll */
}

.section-ppal img{
    width: 100%;
    height: 100%;
}

.presentation-grid{
    
    display: grid;
    grid-template-areas: 
    "marmol"
    "story"
    ;

    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;

    height: 100vh;
}

.marmoles-bar{
    grid-area: marmol;
    background-color: rgba(61,61,61,255);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.marmoles-bar div{
    border: solid white 4px;
    display: flex;
    flex-flow: Column nowrap;
    justify-content: space-evenly;
    align-items: center;

    font-size: 200%;
    padding: 1%;
    height: 80%;

}

.story-grid{
    grid-area: story;

    display: grid;
    grid-template-areas: 
    "test card"
     ;

    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
}

.story-grid img{
    grid-area: test;
    color: black;

    width: 100%;
    height: 100%;
}

.presentation-card{
    grid-area: card;
    color: black;

    padding: 15% 20%;
    display: flex;
    flex-flow: Column nowrap;
    justify-content: space-around;
    align-items: center;
}

.presentation-card h1,.presentation-card p{
    color: black;
font-size: 180%;

}

.presentation-card button{

    background-color:rgba(158,0,0,255) ;
    margin-top: 30%;
    padding: 15%;
    font-size: 100%;
}